.div1{
    background-image: url("https://source.unsplash.com/collection/8336486/1920x1080");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: blur(4px); 
    -webkit-filter: blur(4px); 
}
.div2{
    color:khaki;
}
.first{
    margin:20px auto;
}
.text{
    color:khaki;
}
.image{
    color:white;
    font-weight:normal;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: khaki;
    font-weight: bold;
    border: 3px solid khaki;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  .las{
    text-align: center;
    top:50%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  }
  
  